[Unit]
Description=Prometheus instance
After=network.target

[Service]
Type=simple
ExecStart=/usr1/software/prometheus-2.37.8/prometheus --config.file=/usr1/software/prometheus-2.37.8/prometheus.yml

[Install]
WantedBy=multi-user.target

# /usr/lib/systemd/system/
# systemctl daemon-reload
# systemctl enable prometheus-server.service