[Unit]
Description=PushGateWay instance
After=network.target

[Service]
Type=simple
ExecStart=/usr1/software/pushgateway-1.4.3/pushgateway

[Install]
WantedBy=multi-user.target

# /usr/lib/systemd/system/
# systemctl daemon-reload
# systemctl enable prometheus-server.service