[Unit]
Description=Node_exporter instance
After=network.target

[Service]
Type=simple
ExecStart=/usr1/software/node_exporter-1.4.0/node_exporter --web.listen-address=0.0.0.0:9100

[Install]
WantedBy=multi-user.target

# /usr/lib/systemd/system/
# systemctl daemon-reload
# systemctl enable prometheus-server.service